$g-row
	margin-top 20px
	&:first-child
		margin-top 0

.g-form-error
	display: block
	color #ff5757
	font-size 10px
	line-height 120%
	font-family Arial, sans-serif
	span
		@extend $inline
		padding-top: 4px
		padding-top 4px
		margin-bottom 4px

