// Transition variants

$time-trans = .2s
$function = ease-in

// all
$g-tr-all
	transition: all $time-trans $function;

// Border color
$g-tr-border-color
	transition: border-color $time-trans $function;

// Opacity
$g-tr-opacity
	transition: opacity $time-trans $function;

// BackgroundColor
$g-tr-bgcolor
	transition: background-color $time-trans $function;

// ColorText
$g-tr-color
	transition: color $time-trans $function;

