doctype html
html(lang='ru').no-js.l-html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		link(href='css/main.css' rel='stylesheet')
	block title
		title NO TITLE!!!

	body.l-body
		.l-page
			block content


		//- scripts
		script(src='js/libs.min.js')
		script(src='js/app.min.js')
