doctype html
html.l-html(lang="en")
    head
        meta(name="viewport" content="width=1024")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(http-equiv="Cache-Control" content="no-cache")
        // IE
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        block title
            title Pages project
        style.
            body {
                font-family: helvetica, arial, 'sans-serif';
                font-size: 62.5%;
                line-height: 1.1;
                background-color: #ffffff;
                color: #a5a5a5;
                margin: 0;
                min-width: 1000px;
            }

            .page {
                width: 80%;
                max-width: 1280px;
                margin: 0 auto;
                font-size: 3em;
            }

            li {
                margin: 0.4em 0;
            }

            small {
                font-size: .6em;
            }

            a {
                color: #0087ff;
            }

            a:hover {
                color: #ff9d00;
            }
    body
        // l-page
        .page
            block content