extends ../layout/default

block title
	title Главная страница

block content
	.l-page
		.box
		//- header
		.g-align--center
			a(href="#3").logo.logo--apple Apple1
		.g-align--center
			a(href="#3").logo.logo--audi Apple
		//- End header
